h1{
    text-align: center;

}
body{
    text-align: center;
    color: steelblue;
    background-color: lightsteelblue;
    font-family: "Courier New";
}

input{
    font-family: "Courier New";
}
table{
    width: 100%;
}

#OutputList {
    width: 40%;
    margin:auto;
}